            *{
                font-family: 'Poppins','Gugi', cursive;
                list-style: none;
                text-decoration: none;
                border-collapse: collapse;
                margin:0px;
                padding:0px;
                color:#000;
            }
            
            body {
                margin: 0;
            }
            
            a{
                text-decoration: none;
                color: black;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .header {
                display: flex;
                text-align: center;
                background-color: #CCD3D9;
            }
            .head_name{
                width:350px;
                margin:auto;
                background-color: #ffffff;
                border-radius: 25px;
            }
            .head_name a{
                color:black;
            }

            .head__toogleBtn {
                display: none;
                position: absolute;
                right: 32px;
                font-size: 24px;
            }

            .head__toogleBtn i {
                color: white;
            }

            .navbar {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: white;
                padding: 8px 12px;
                z-index: 15;
            }

            .navbar__logo {
                display: none;
                font-size: 24px;
            }

            .navbar__logo a {
                text-decoration: none;
                color: #000000;
            }

            .navbar__menu{
                display: flex;               
                list-style: none;
                padding-left: 0;
            }

            .navbar__menu li {
                padding: 8px 12px;
                z-index: 15;
            }
            
            .navbar__menu li:hover {
                background-color: #CCD3D9;
                border-radius: 4px;
            }
            
            .navbar__menu li a{
                text-decoration: none;
                color: black;
            }

            .navbar__toogleBtn { /* 우측 상단 메뉴바 설정 */
                display: none;
                position: fixed;
                right: 32px;
                font-size: 24px;
                cursor: pointer;
                z-index: 15;
            }

            .intro_bg{ /* intro 배경화면 설정 */
                display:flex;
                height: 100vh;
                width: 100%;
                background-image:url("image/intro.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            } 
            .intro_name{
                width: 100%;
                height: 200px;
                display: flex;
                line-height: 30px;
                flex-direction: column;
                background-color: rgba(255, 255, 255, 0.6);
            }
            @font-face {
                font-family: 'SEBANG_Gothic_Bold';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            .intro_name h1,h2{
                margin-top: 15px;
                text-align: center;
                color: black;
                opacity: 100%;
            } 
            .intro_name h3,h4{
                font-family: 'SEBANG_Gothic_Bold';
                font-size: 25px;
                margin-top: 15px;
                text-align: center;
            }
            .slide_section{
                display:flex;
                width: 500px;
                height: 200px;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            }
            .intro_shop{ /* 화면에 shop 바로가기 버튼 */
                display: flex;
                left: 300px;
                top: 50px;
                border: 2px solid;
                background-color: rgba(255, 255, 255, 0.6);
                color: black;
                width: 200px;
                height: 100px;
                align-items: center;
                justify-content: center;             
            }
            .shop_list a{ /* 화면에 shop 바로가기 버튼 안에 문구 */
                text-align: center;
                width: 100px;
            }
            .intro_item{ /* 화면에 item 바로가기 버튼 */
                display: flex;
                left: 300px;
                top: 50px;
                border: 2px solid;
                background-color: rgba(255, 255, 255, 0.6);
                color: black;
                width: 200px;
                height: 100px;
                align-items: center;
                justify-content: center;
            }
            .header_fixed {
                position: fixed;
                width: 100%;
                top: 0px;
                right: 0px;
                left: 0px;
                z-index: 2;
            }

            @media screen and (max-width: 768px) {
                .header{
                    display: none;
                }
                .navbar {
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 8px 24px;
                    z-index: 15;
                }
                .navbar__menu {
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                }
                .navbar__logo{
                    display: flex;
                }
                .navbar__menu li {
                    width: 100%;
                    text-align: center;
                    z-index: 15;
                }

                .navbar__toogleBtn{
                    display: block;
                }

                .navbar__menu.active{
                    display: flex;
                    z-index: 15;
                }       
                .slide_section{
                    flex-direction: column;
                    
                }
                .intro_container{
                    align-items: center;
                }        
                .intro_shop{
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                .intro_name{
                    width: 100%;
                    white-space: nowrap;
                }
                .intro_name h1{
                    margin-top: 20px;
                }
                .intro_name h2{
                    margin-top: 3px;
                }
                .intro_name h3{
                    margin-top: 40px;
                }
                .intro_name h4{
                    margin-top: 3px;
                }
                .intro_name h1,h2,h3,h4{
                    font-size: 20px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    list-style: none;
                    text-decoration: none;
                    border-collapse: collapse;
                }
            }