            *{
                font-family: 'Poppins','Gugi', cursive;
                list-style: none;
                text-decoration: none;
                border-collapse: collapse;
                margin:0px;
                padding:0px;
                color:#000;
            }
            @font-face {
                font-family: 'BMJUA';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }            
            div{
                display: block;
            }
            section {
                display: block;
            }
            body{
                background-color: #f3f7fa;;
            }
            input{
                font-family: 'BMJUA';
            }
            span{
                font-family: 'BMJUA';
            }
            .layout_item{
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
            .layout_container, .main_container{
                max-width: 1174px;
                margin: 0 auto;
            }
            .container{
                height: 100%;
            }
            .content_wrapper{
                width: 100%;
                height: 100%;
            }
            .item_container{
                position: relative;
                width: 100%;
                height: 100%;
            }
            .top_filters{
                max-width: 1140px;
                position: sticky;
                top: 50px;
                height: 160px;
                padding-top: 40px;
                z-index: 3;
                background-color: #f3f7fa;
            }
            .filter_box{
                width: 100%;
                height: 100%;
                padding: 20px 0 0;
            }

            /* 카테고리 부분 -----------------------------*/
            .category_container{
                position: relative;
                float: left;
                z-index: 1;
                min-width: 213px;
                padding-right: 30px;
                text-align: left;
            }
            .indicator{
                position: absolute;
                width: 140px;
                top: 20px;
                z-index: 1;
                background-color: rgb(255, 255, 255);
                display: none;
                padding-left: 30px;
                padding-right: 10px;
                padding-top: 30px;
                padding-bottom: 20px;
                border: 1px solid #c1c2c2;
                font-family: 'BMJUA';
                margin-left: 10px;
            }
            .mobile_indicator{
                display: none;
                font-family: 'BMJUA';
            }
            .indicator li a{
                font-family: 'BMJUA';
            }
            .indicator.active{
                display: block;
            }
            .indicator.active li a:hover {
                color: rgb(166, 168, 167);
                border-radius: 4px;
            }
            .indicator.active::after{
                content: "";
                display: block;
                position: absolute;
                top: 7%;
                transform: translateY(-7%);
                right: 14px;
                background-image: url(image/up.png);
                background-size: cover;
                width: 12px;
                height: 12px;
            }
            .category_box{
                position: relative;
                display: block;
                width: 150px;
                height: 40px;
                background-color: rgb(255, 255, 255);
                border: 1px solid #c1c2c2;
                border-radius: 1px;
                float: left;
                cursor: pointer;
                margin-top: 20px;
                text-align: center;
                padding-right: 30px;
                margin-left: 10px;
            }
            .category_box::after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 14px;
                    background-image: url(image/bottom.png);
                    background-size: cover;
                    width: 15px;
                    height: 15px;
            }
            .category_box span{
                font-size: 18px;
                font-family: 'BMJUA';
                line-height: 39px;
            }
            .category_box.active{
                display: none;
            }

            .mobile_category_box{
                position: relative;
                display: none;
                width: 150px;
                height: 40px;
                background-color: rgb(255, 255, 255);
                border: 1px solid #c1c2c2;
                border-radius: 1px;
                float: left;
                cursor: pointer;
                margin-top: 20px;
                text-align: center;
                padding-right: 30px;
                margin-left: 10px;
            }
            .mobile_category_box::after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 14px;
                    background-image: url(image/bottom.png);
                    background-size: cover;
                    width: 15px;
                    height: 15px;
            }
            .mobile_category_box span{
                font-size: 18px;
                font-family: 'BMJUA';
                line-height: 39px;
            }
            .mobile_category_box.active{
                display: none;
            }
            /* 카테고리 부분 --------------------------- */
            /* 검색 부분 ------------------------------- */
            .search_filter{
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                margin: 20px auto 0;
            }
            .search_filter::before{
                content: "";
                display: block;
                position: absolute;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmZJREFUeNrEl79LI0EUx9d4TVIpCCdI1EI5hCvSiF3A1ApWEX+ANkpsErh/QK6zUZIUKoqgoIipRC2sIqYTC9NpYXEmCB5YXBVtFu478CIx5E3ePuP64MO6Oz/248zLzGxbOp12msR3EAcxEAFh0A5cUAZFkAc58NfxGKlU6t19wFK3D+yCR5AFE6CfZBy69tPzLNXbpXbq4IQS4BbM1Qg0i3aqf0vtWyJkOt0CGyCo7DNI7bc8/DNv8a3u3nS04LQmqv0sakco0UKZWqmERsgk4lqTuqdgGgyCTrpO03NbrHpJ9OqU/bbkzBOYBIW65//APTgEUXAEuhu0D1H/89IRMuvMrEVmpIFMfRSo3hNTPkvvEQnFLb8GMzIl4WiXqD63JMSlQjFLzhQ8JnHBklMxqVCEKTtU/rK4dhGpUJgpu1YKce3CUiEuf56VQs+WPBIJuUxZl1KIa+dKhcpM2bBSiGtXlgoVmbIppRDXrigVyjNl47QCe4kotWsUealQzjK/ZjvoFcr8AOeW/MlJhcyxc58pN3vTlWCkTPmNZT/clx5vq7v9MnixSF2CE8qPAdBB1yl6fmmRMaOz4nW3fwC/6IDmWHJqXJHkZv1ZB2Og4uWAtgm2nc+JUXBGRxFPZ+qlr5YKNJjvRRJ7Ub7Y/YgU9xlkpm8I7EmXfKpn6v8EF1op24fiAx07e0ASHIM/NYIu3R9TeQ/Vv6MEVkm1CT6ltRGil45a6hjpMXxOVyQj9NGoSEcqk8mE/BBSSX3mlKmmL+D4E9KRyvolJJWa8VNIJOW3UDOpg68QqpXaAa+E+Tv5X4ABAGhMjUB571HeAAAAAElFTkSuQmCC);
                background-size: cover;
                top: 12px;
                left: 20px; 
                width: 12px;
                height: 12px;
            }
            .search_filter input{
                font-size: 11px;
                border: 1px solid;
                width: 140px;
                height: 32px;
                background-color: #ffffff;
                line-height: 32px;
                cursor: pointer;
                text-indent:40px;
                font: inherit;
                font-family: 'HallymGothic-Regular';
                color: inherit;
            }
            input::placeholder{
                color: gray;
                font-family: 'HallymGothic-Regular';
            }
            .search_filter.active input::placeholder{
                color: #CCD3D9;
                text-align: start;
            }
            .search_filter.active::before{
                display: none;
                content: none;
            }
            .search_filter.active input{
                background-color: #ffffff;
                color: black;
                text-indent:6px;
                font-family: 'HallymGothic-Regular';
                font-size: 13px;
            }
            /* 검색 부분 ------------------------------- */
            /* 가격 필터 부분 -------------------------- */
            .price_onclick{
                position: absolute;
                right: 5px;
                top: 84px;
                background-color: white;
                width: 100px;
                height: 30px;
                text-align: center;
                border: 1px solid #c1c2c2;
            }
            .price_onclick span{
                font-size: 18px;
                font-family: 'BMJUA';
                line-height: 30px;
                cursor: pointer;
            }
            .price_onclick.active{
                display: none;
            }
            .price_container{
                display: none;
                position: absolute;
                text-align: right;
                background-color: rgb(206, 206, 245);
                right: 10px;
                top: 100px;
                margin-top: 30px;
            }
            .price_container i{
                width: 30px;
                font-size: 25px;
                position: absolute;
                cursor: pointer;
                right: 20px;
                top: 15px;
                z-index: 100;
            }
            .price_container.active{
                display: block;
                border-radius: 10px;
                text-align: right;
            }
            .wrapping_price{
                width: 400px;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                padding: 20px 25px 40px;
                height: 130px;
            }
            .input_price{
                width: 100%;
                display: flex;
                margin: 30px 0 35px;
            }
            .input_price .field{
                height: 45px;
                width: 100%;
                display: flex;
                align-items: center;
            }
            .field input{
                width: 100%;
                height: 100%;
                outline: none;
                font-size: 19px;
                text-align: center;
                margin-left: 12px;
                border-radius: 5px;
                border: 1px solid #999;
                -moz-appearance: textfield;
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button{
                -webkit-appearance: none;
            }
            .input_price .separator{
                width: 130px;
                display: flex;
                font-size: 19px;
                align-items: center;
                justify-content: center;
            }
            /* 문제없음 */
            .slider{
                height: 5px;
                border-radius: 5px;
                background-color: rgb(204,211,217);
                position: relative;
            }
            .slider .progress{
                height: 5px;
                position: absolute;
                border-radius: 5px;
                background: rgb(56, 55, 55);
                left: 0px;
                right: 0px;
            }
            .range_input{
                position: relative;
            }
            .range_input input{
                position: absolute;
                top: -5px;
                left: 0px;
                height: 5px;
                width: 100%;
                background: none;
                pointer-events: none;
                -webkit-appearance: none;
            }
            input[type="range"]::-webkit-slider-thumb{
                height: 17px;
                width: 17px;
                border-radius: 50%;
                pointer-events: auto;
                -webkit-appearance: none;
                background: rgb(56, 55, 55);
            }
            input[type="range"]::-moz-range-thumb{
                height: 17px;
                width: 17px;
                border: none;
                border-radius: 50%;
                pointer-events: auto;
                -moz-appearance: none;
                background: rgb(56, 55, 55);
            }
            .price_filter_Btn{
                position: absolute;
                width: 50px;
                bottom: 10px;
                right: 150px;
                height: 19px;
                cursor: pointer;
                background-color: white;
                border-radius: 5px;
                border: 1px solid black;
            }
            .price_initializer_Btn{
                position: absolute;
                width: 50px;
                bottom: 10px;
                left: 150px;
                height: 19px;
                cursor: pointer;
                background-color: white;
                border-radius: 5px;
                border: 1px solid black;
            }

            /* 가격 필터 부분 -------------------------- */
            /* 위로가기 부분 --------------------------- */
            #top_button{
                display: none;
                position: fixed;
                width: 32px;
                height: 32px;
                right: 30px;
                bottom: 50px;
                outline: 0;
                border: 0;
                border-radius: 50%;
                cursor: pointer;
                background-color: white;
                text-align: center;
                box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
                z-index: 10;
            }
            .top_button i{
                padding: 7px;
                border-width: 0 4px 4px 0;
                vertical-align: middle;
            }
            /* 위로가기 부분 --------------------------- */
            /* 아이템 부분 ----------------------------- */
            .item_content_wrapper{
                min-width: 100%;
                min-height: 100vh; 
                display: grid;
            }
            .item_content_grid{
                display: flex;
                flex-wrap: wrap;
                grid-column: 1 / span 2;
                width: calc(100%);
            }
            .item_card_grid{
                width: calc(25% - 20px);
                max-height: 484px;
                margin: 5px 5px;
                position: relative;
                transition: 0.2s all;
                padding-bottom: 30px;
                background-color: white;
            }
            .item_card_featured{
                display: block;
                padding-top:  133.55%;
                position: relative;
            }
            .item_card_featured a{
                display: block;
                color: inherit;
                text-decoration: none;
            }
            .img_item{
                bottom: 0;
                height: 100%;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
            .img_item img{
                object-position: center;
                bottom: 0;
                height: 100%;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                font: inherit;
                color: inherit;
                vertical-align: baseline;
            }
            .item_card_content{
                position: relative;
                padding: 16px;
                background-color: rgb(255, 255, 255);
                height: 50px;
            }
            .item_details_title{
                display: flex;
                flex-direction: row;
                width: 100%;
            }
            .item_details_title .item_card_details{
                width: calc(100% - 80px);
                margin: 28px 0 0;
                font-family: 'BMJUA';
                text-overflow: ellipsis;
                overflow: hidden;
                max-height: 32px;
            }
            .item_card_details{
                word-wrap: break-word;
            }
            .item_card_price{
                width: 80px;
                flex-direction: column;
                text-align: right;
                margin: 16px 0 16px;
                line-height: 16px;
            }
            .before_price{
                text-decoration: line-through;
                opacity: 0.45;
                top:1px;
            }
            .price_all{
                margin-top: 10px;
            }
            .price_after{
                margin-bottom: 5px;
            }

            .item_card_brand_color{
                margin-top: 15px;
            }
            .item_brand{
                float: left;
                padding-left: 20px;
            }
            .item_card_brand{
                color:rgb(48, 48, 48);
                font-family: 'BMJUA';
                margin-top: 5px
            }
            .item_card_category_none{
                display: none;
            }
            .item_card_price input{
                display: none;
            }
            .color_select{
                display: flex;
                flex-wrap: wrap;
                float: right;
                margin-top: 5px;
                margin-right: 10px;
            }
            .color_select .color_switch{
                display: none; 
                position: relative;
                width: 16px;
                height: 16px;
                margin-left: 13px;
                margin-bottom: 5px;
                vertical-align: top;
            }
            .color_select.active .color_switch{
                display: block;
            }
            .color_switch{
                border-radius: 50px;
                cursor: pointer;
                outline: none;
            }

            .black{
                background-color: black;
                border: 1px solid black;
            }
            .oatmeal{
                background-color: rgb(245,238,193);
                border: 1px solid rgb(245,238,193);
            }
            .oatmeal_b{
                background-color: rgb(206,201,193);
                border: 1px solid rgb(206,201,193);
            }
            .gray{
                background-color: gray;
                border: 1px solid gray;
            }
            .navy{
                background-color: rgb(0,0,128);
                border: 1px solid rgb(0,0,128);
            }
            .red{
                background-color: red;
                border: 1px solid red;
            }
            .tabaco{
                background-color: rgb(108,70,59);
                border: 1px solid rgb(108,70,59);
            }
            .blue{
                background-color: blue;
                border: 1px solid blue;
            }
            .white{
                background-color: white;
                border: 1px solid black;
            }
            .ivory{
                background-color: rgb(244,240,236);
                border: 1px solid rgb(244,240,236);
            }
            .yellow{
                background-color: yellow;
                border: 1px solid yellow;
            }
            .brown{
                background-color: rgb(52,43,39);
                border: 1px solid rgb(52,43,39);
            }
            .rightbrown{
                background-color: rgb(148,104,67);
                border: 1px solid rgb(148,104,67);
            }
            .darkbrown{
                background-color: rgb(107,85,69);
                border: 1px solid rgb(107,85,69);
            }
            .blackbrown{
                background-color: rgb(57,47,52);
                border: 1px solid rgb(57,47,52);
            }
            .beige{
                background-color: rgb(155,137,113);
                border: 1px solid rgb(155,137,113);
            }
            .grayBeige{
                background-color: rgb(93,84,75);
                border: 1px solid rgb(93,84,75);
            }
            .pink{
                background-color: pink;
                border: 1px solid pink;
            }
            .croton{
                background-color: rgb(102,128,88);
                border: 1px solid rgb(102,128,88);
            }
            .cloudblue{
                background-color: rgb(67,94,118);
                border: 1px solid rgb(67,94,118);
            }
            .blue2{
                background-color: rgb(31,36,46);
                border: 1px solid rgb(31,36,46);
            }
            .olive{
                background-color: olive;
                border: 1px solid olive;
            }
            .mint{
                background-color: rgb(2,182,186);
                border: 1px solid rgb(2,182,186);
            }
            .chino{
                background-color: rgb(193,165,125);
                border: 1px solid rgb(193,165,125);
            }
            .navy{
                background-color: rgb(31,35,46);
                border: 1px solid rgb(31,35,46);
            }
            .tan{
                background-color: rgb(201,131,97);
                border: 1px solid rgb(201,131,97);
            }
            .vintageindigo{
                background-color: rgb(151,169,187);
                border: 1px solid rgb(151,169,187);
            }
            .indiepink{
                background-color: rgb(204,165,159);
                border: 1px solid rgb(204,165,159);
            }
            .charcoalgray{
                background-color: rgb(61,63,64);
                border: 1px solid rgb(61,63,64);
            }
            .darknavybeige{
                background-color: rgb(25,24,30);
                border: 1px solid rgb(25,24,30);
            }
            .item_card_brand_color span{
                opacity: 0.6;
                float: right;
                color: gray;
            }
            .color_count.active{
                display: none;
            }


            @media screen and (max-width: 1600px) {
            }

            @media screen and (max-width: 1450px) {

            }

            @media screen and (max-width: 1024px) {
                .item_card_grid{
                    width: calc(33% - 20px);
                }
                .top_filters{
                    max-width: 920px;
                }
            }
            @media screen and (max-width: 768px) {
                .item_content_grid{
                    margin-left: 70px;
                }
                .item_card_grid{
                    width: calc(50% - 80px);
                }
                .category_box{
                    display: none;
                }
                .mobile_category_box{
                    display: block;
                }
                .color_select{
                    float: right;
                }
                .color_select .color_switch{
                    display: block;
                }
                .color_count{
                    display: none;
                }
                .search_filter{
                    left: 60%;
                    transform: translate(-60%);
                }
                .search_filter input{
                    margin-right: 10px;
                    margin-top: 3px;
                }
                .search_filter::before{
                    top: 15px;
                }
                .mobile_indicator{
                    display: block;
                }
                .basic_indicator{
                    display: none;
                }
                .mobile_category_box{
                    width: 100px;
                }
                .indicator.active{
                    width: 90px;
                }
                .price_container{
                    max-width: 400px;
                }
                .wrapping_price{
                    max-width: 350px;
                }
            }

            @media screen and (max-width: 617px) {
                .item_content_grid{
                    margin-left: 0px;
                }
                .item_card_grid{
                    width: calc(50% - 10px);
                }
                .category_box{
                    display: none;
                }
                .mobile_category_box{
                    display: block;
                }
                .color_select{
                    float: right;
                }
                .color_select .color_switch{
                    display: block;
                }
                .color_count{
                    display: none;
                }
                .search_filter{
                    left: 60%;
                    transform: translate(-60%);
                }
            }

            @media screen and (max-width: 426px) {
                .search_filter{
                    margin-top: 80px;
                }
            }