            *{
                font-family: 'Poppins','Gugi', cursive;
                list-style: none;
                text-decoration: none;
                border-collapse: collapse;
                margin:0px;
                padding:0px;
                color:#000;
            }
            div{
                display: block;
            }
            section {
                display: block;
            }
            body{
                background-color: #f3f7fa;;
            }
            .layout_item{
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
            .layout_container, .main_container{
                max-width: 1174px;
                margin: 0 auto;
                padding-top: 60px;
            }
            .container{
                height: 100%;
            }
            .content_wrapper{
                width: 100%;
                height: 100%;
            }
            .item_container{
                position: relative;
                width: 100%;
                height: 100%;
            }
            .top_filters{
                position: sticky;
                top: 60px;
                height: 160px;
                padding-top: 40px;
                z-index: 3;
                background-color: rgba(191, 220, 243, 0.97);
            }
            .filter_box{
                padding: 20px 0 0;
            }
            

            .indicator{
                position: absolute;
                width: 190px;
                top: 90px;
                z-index: 1;
                background-color: rgb(255, 255, 255);
                display: none;
                padding-left: 30px;
                padding-right: 10px;
                padding-top: 30px;
                padding-bottom: 20px;
                border: 1px solid #c1c2c2;
                font-family: 'BMJUA';
            }
            .indicator li a{
                font-family: 'BMJUA';
            }
            .indicator.active{
                display: block;
            }
            .indicator.active li a:hover {
                color: rgb(13, 114, 63);
                border-radius: 4px;
            }
            .indicator.active::after{
                content: "";
                display: block;
                position: absolute;
                top: 5%;
                transform: translateY(-5%);
                right: 14px;
                background-image: url(image/up.png);
                background-size: cover;
                width: 12px;
                height: 12px;
            }
            .category_box{
                position: relative;
                display: block;
                width: 190px;
                height: 40px;
                background-color: rgb(255, 255, 255);
                border: 1px solid #c1c2c2;
                border-radius: 1px;
                float: left;
                cursor: pointer;
                margin-top: 30px;
                text-align: center;
                padding-right: 30px;
            }
            .category_box::after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 14px;
                    background-image: url(image/bottom.png);
                    background-size: cover;
                    width: 15px;
                    height: 15px;
            }
            .category_box span{
                font-size: 18px;
                font-family: 'BMJUA';
                line-height: 39px;
            }
            .category_box.active{
                display: none;
            }



            #top_button{
                display: none;
                position: fixed;
                width: 32px;
                height: 32px;
                right: 30px;
                bottom: 50px;
                outline: 0;
                border: 0;
                border-radius: 50%;
                cursor: pointer;
                background-color: white;
                text-align: center;
                box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
            }
            .top_button i{
                padding: 7px;
                border-width: 0 4px 4px 0;
                vertical-align: middle;
            }