            *{
                font-family: 'Poppins','Jua', sans-serif;
                list-style: none;
                text-decoration: none;
                border-collapse: collapse;
                margin:0px;
                padding:0px;
                color:#000;
            }
            body {
                margin: 0;
            }
            
            a{
                text-decoration: none;
                color: white;
            }
            .navbar {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: red;
                padding: 8px 12px;
            }

            .navbar__logo {
                display: flex;
                font-size: 24px;
                background-color: blue;
            }

            .navbar__logo a {
                text-decoration: none;
                color: #000000;
            }

            .navbar__menu{
                display: flex;
                list-style: none;
                padding-left: 0;
            }

            .navbar__menu li {
                padding: 8px 12px;
            }
            
            .navbar__menu li:hover {
                background-color: #d49946;
                border-radius: 4px;
            }
            
            .navbar__menu li a{
                text-decoration: none;
                color: #000000;
            }
            .navbar__icons {
                list-style: none;
                color: white;
                display: flex;
                padding-left: 0;
            }
            .navbar__icons i{
                color: #000000;
                line-height:55px;
            }

            .navbar__icons li{
                padding: 8px 12px;
            }

            .navbar__toogleBtn {
                display: none;
                position: absolute;
                right: 32px;
                font-size: 24px;
            }

            .navbar__toogleBtn i {
                color: #000000;
            }

            .intro_bg{
                height: 100vh;
                width: 100vw;
                background-image:url("image/intro.png");
                background-size: cover;
                background-repeat: no-repeat;
            }

            @media screen and (max-width: 768px) {
                .navbar {
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 8px 24px;
                }
                .navbar__menu {
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                }
                .navbar__menu li {
                    width: 100%;
                    text-align: center;
                }

                .navbar__toogleBtn{
                    display: block;
                    background-color: blue;
                }

                .navbar__menu.active{
                    display: flex;
                }
            }