            *{
                font-family: 'Poppins','Jua', sans-serif;
                list-style: none;
                text-decoration: none;
                border-collapse: collapse;
                margin:0px;
                padding:0px;
                color:#000;
            }
            body {
                margin: 0;
            }
            
            a{
                text-decoration: none;
                color: white;
            }
            .header {
                display: flex;
                text-align: center;
                background-color: black;
            }
            .head_name{
                width:400px;
                margin:auto;
                background-color: blueviolet;
            }

            .head__toogleBtn {
                display: none;
                position: absolute;
                right: 32px;
                font-size: 24px;
            }

            .head__toogleBtn i {
                color: white;
            }

            .navbar {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: red;
                padding: 8px 12px;
            }

            .navbar__logo {
                display: none;
                font-size: 24px;
                background-color: blue;
            }

            .navbar__logo a {
                text-decoration: none;
                color: #000000;
            }

            .navbar__menu{
                display: flex;               
                list-style: none;
                padding-left: 0;
            }

            .navbar__menu li {
                padding: 8px 12px;
            }
            
            .navbar__menu li:hover {
                background-color: #d49946;
                border-radius: 4px;
            }
            
            .navbar__menu li a{
                text-decoration: none;
                color: #000000;
            }

            .navbar__toogleBtn { /* 우측 상단 메뉴바 설정 */
                display: none;
                position: fixed;
                right: 32px;
                font-size: 24px;
                cursor: pointer;
            }

            .intro_bg{
                display:flex;
                height: 100vh;
                width: 100vw;
                margin: 0;
                padding: 0;
                border: 0;
                background-image:url("image/intro.png");
                background-size: cover;
                background-repeat: no-repeat;
                align-items: center;
                justify-content: space-around;
            }
            .intro_shop{ /* 화면에 shop 바로가기 버튼 */
                display: flex;
                left: 300px;
                top: 50px;
                border: 2px solid;
                color: white;
                width: 200px;
                height: 100px;
                align-items: center;
                justify-content: center;
            }
            .shop_list a{ /* 화면에 shop 바로가기 버튼 안에 문구 */
                text-align: center;
                width: 100px;
            }
            .intro_item{ /* 화면에 item 바로가기 버튼 */
                display: flex;
                left: 300px;
                top: 50px;
                border: 2px solid;
                color: white;
                width: 200px;
                height: 100px;
                align-items: center;
                justify-content: center;
            }
            .header_fixed {
                position: fixed;
                width: 100%;
                top: 0px;
                right: 0px;
                left: 0px;
            }

            @media screen and (max-width: 768px) {
                .header{
                    display: none;
                }
                .navbar {
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 8px 24px;
                }
                .navbar__menu {
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                }
                .navbar__logo{
                    display: flex;
                }
                .navbar__menu li {
                    width: 100%;
                    text-align: center;
                }

                .navbar__toogleBtn{
                    display: block;
                    background-color: blue;
                }

                .navbar__menu.active{
                    display: flex;
                }               
            }