            @font-face {
                font-family: 'HallymGothic-Regular';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
                font-weight: 400;
                font-style: normal;
            }
            @font-face {
                font-family: 'ONE-Mobile-POP';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            body {
                background-color: #f3f7fa;
            }
            section{
                display: block;
            }
            ul{
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
                margin: 0;
                padding: 0;
                list-style: none;
            }
            li{
                display: list-item;
            }
            img {
                border-style: none;
            }
            div{
                display:block;
            }
            .content_wrapper_sale{
                display: block;
                margin: 0 auto;
                width: 1052px;
            }
            .main_container_sale{
                display: block;
                height: 100%;
            }
            .content_wrapper{
                width: 100%;
            }
            .top_filters{
                position: sticky;
                top: 57px;
                height: 160px;
                padding-top: 40px;
                background-color: rgba(243,247,250,.97);
            }
            .input_wrapper{
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                margin: 20px auto 0;
            }
            .input_wrapper::before{
                content: "";
                display: block;
                position: absolute;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmZJREFUeNrEl79LI0EUx9d4TVIpCCdI1EI5hCvSiF3A1ApWEX+ANkpsErh/QK6zUZIUKoqgoIipRC2sIqYTC9NpYXEmCB5YXBVtFu478CIx5E3ePuP64MO6Oz/248zLzGxbOp12msR3EAcxEAFh0A5cUAZFkAc58NfxGKlU6t19wFK3D+yCR5AFE6CfZBy69tPzLNXbpXbq4IQS4BbM1Qg0i3aqf0vtWyJkOt0CGyCo7DNI7bc8/DNv8a3u3nS04LQmqv0sakco0UKZWqmERsgk4lqTuqdgGgyCTrpO03NbrHpJ9OqU/bbkzBOYBIW65//APTgEUXAEuhu0D1H/89IRMuvMrEVmpIFMfRSo3hNTPkvvEQnFLb8GMzIl4WiXqD63JMSlQjFLzhQ8JnHBklMxqVCEKTtU/rK4dhGpUJgpu1YKce3CUiEuf56VQs+WPBIJuUxZl1KIa+dKhcpM2bBSiGtXlgoVmbIppRDXrigVyjNl47QCe4kotWsUealQzjK/ZjvoFcr8AOeW/MlJhcyxc58pN3vTlWCkTPmNZT/clx5vq7v9MnixSF2CE8qPAdBB1yl6fmmRMaOz4nW3fwC/6IDmWHJqXJHkZv1ZB2Og4uWAtgm2nc+JUXBGRxFPZ+qlr5YKNJjvRRJ7Ub7Y/YgU9xlkpm8I7EmXfKpn6v8EF1op24fiAx07e0ASHIM/NYIu3R9TeQ/Vv6MEVkm1CT6ltRGil45a6hjpMXxOVyQj9NGoSEcqk8mE/BBSSX3mlKmmL+D4E9KRyvolJJWa8VNIJOW3UDOpg68QqpXaAa+E+Tv5X4ABAGhMjUB571HeAAAAAElFTkSuQmCC);
                background-size: cover;
                top: 12px;
                left: 20px; 
                width: 12px;
                height: 12px;
            }
            .input_wrapper input{
                font-size: 11px;
                border: 1px solid;
                width: 140px;
                height: 32px;
                background-color: #ebeef0;
                line-height: 32px;
                cursor: pointer;
                text-indent:40px;
                font: inherit;
                color: inherit;
            }
            input::placeholder{
                color: gray;
            }
            .input_wrapper.active input::placeholder{
                color: #CCD3D9;
                text-align: start;
            }
            .input_wrapper.active::before{
                display: none;
                content: none;
            }
            .input_wrapper.active input{
                background-color: #ffffff;
                color: black;
                text-indent:6px;
                font-family: 'HallymGothic-Regular';
                font-size: 13px;
            }
            .item_list{
                overflow: hidden;
                margin-left: -5px;
                margin-right: -15px;
            }
            .item_list>li{
                float: left;
                margin: 0 5px 10px;
            }
            .item{
                width: 344px;
            }
            .sale_card{
                width: 100%;
                float: left;
                cursor: pointer;
            }
            .image_wrapper{
                position: relative;
            }
            .image_ratio_wrapper{
                width: 100%;
                position: relative;
                /*padding-top: 130.43478261%;*/
            }
            .image{
                right: 0;
                bottom: 0;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 470px;
            }
            .sale_text_box{
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: #e5ecf3;
            }
            .sale_text{
                position: relative;
                font-family: 'ONE-Mobile-POP';
                font-size: 36px;
                text-align: center;
                line-height: 65px;
                padding: 0 21px;
                opacity: 0.8;
                display: block;
            }
            .sale_text::after {
                content: "%";
                font-family: 'ONE-Mobile-POP';
                font-size: 18px;
                position: absolute;
                top: 28px;
                right: 5px;
                line-height: 100%;
                opacity: 0.5;
                color: rgb(0, 0, 0);
            }
            .info{
                font-family: 'ONE-Mobile-POP';
                position: relative;
                padding: 15px 14px;
                background-color: white;
                font-size: 12px;
                text-align: center;
            }
            .title{
                font-family: 'ONE-Mobile-POP';
                font-size: 15px;
                color: #000000;
            }
            .term{
                font-family: 'HallymGothic-Regular';
            }
            .shop{
                font-family: 'HallymGothic-Regular';
                padding: 14px 0 0 0;
                font-weight: 900;
            }

            @media screen and (max-width: 1900px) {
                .content_wrapper_sale{
                    width: 1052px;
                }
            }

            @media screen and (max-width: 1024px) {
                .content_wrapper_sale{
                    width: 698px;
                }
            }

            @media screen and (max-width: 768px) {
                .content_wrapper_sale{
                    width: 100%;
                }
                .content{
                    padding: 6px;
                }
                .item_list{
                    margin-left: -5px;
                    margin-right: -5px;
                }
                .item{
                    width: calc(50% - 7.5px);
                    margin-bottom: 5px;
                }
                .item_list>li{
                    margin-right: 0;
                }
                .top_filters{
                    top: 50px;
                    height: 80px;
                }
            }

            #top_button{
                display: none;
                position: fixed;
                width: 32px;
                height: 32px;
                right: 30px;
                bottom: 50px;
                outline: 0;
                border: 0;
                border-radius: 50%;
                cursor: pointer;
                background-color: white;
                text-align: center;
                box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
                z-index: 10;
            }
            .top_button i{
                padding: 7px;
                border-width: 0 4px 4px 0;
                vertical-align: middle;
            }