*{
    margin:0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #f3f7fa;
}

.ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.li{
    display: list-item;
    text-align: match-parent
}
.section{
    display: block;
}
#top_button{
    display: none;
    position: fixed;
    width: 32px;
    height: 32px;
    right: 30px;
    bottom: 50px;
    outline: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    z-index: 10;
}
.top_button i{
    padding: 7px;
    border-width: 0 4px 4px 0;
    vertical-align: middle;
}
.wrapping{
    position: relative;
    margin: 0 auto;
    padding-top: 60px;
    max-width: 1174px;
    height:100%;
}
.Search_container{
    width: 100%;
    height: 100px;
}
.indicator{
    position: absolute;
    width: 190px;
    top: 90px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    display: none;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border: 1px solid #c1c2c2;
    font-family: 'BMJUA';
}
.indicator li a{
    font-family: 'BMJUA';
}
.indicator.active{
    display: block;
}
.indicator.active li a:hover {
    color: rgb(13, 114, 63);
    border-radius: 4px;
}
.indicator.active::after{
    content: "";
    display: block;
    position: absolute;
    top: 5%;
    transform: translateY(-5%);
    right: 14px;
    background-image: url(image/up.png);
    background-size: cover;
    width: 12px;
    height: 12px;
}
.category_box{
    position: relative;
    display: block;
    width: 190px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #c1c2c2;
    border-radius: 1px;
    float: left;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    padding-right: 30px;
}
.category_box::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 14px;
        background-image: url(image/bottom.png);
        background-size: cover;
        width: 15px;
        height: 15px;
}
.category_box span{
    font-size: 18px;
    font-family: 'BMJUA';
    line-height: 39px;
}
.category_box.active{
    display: none;
}
.mobile_category_box{
    position: relative;
    display: none;
    width: 190px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #c1c2c2;
    border-radius: 1px;
    float: left;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    padding-right: 30px;
}
.mobile_category_box::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 14px;
        background-image: url(image/bottom.png);
        background-size: cover;
        width: 15px;
        height: 15px;
}
.mobile_category_box span{
    font-size: 18px;
    font-family: 'BMJUA';
    line-height: 39px;
}
.mobile_category_box.active{
    display: none;
}
.search_box{
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    float: right;
    margin-top: 10px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search_box.active{
    width: 350px;
    float: right;
}
.search_box input{
    font-size: 18px;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 60px 0 20px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: black;
    font-family: 'BMJUA';
}
.search_box input.active{
    opacity: 1;
}
      
.search_box .searchBtn{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background: white;
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
}
.search_box .searchBtn i{
    color: #CCD3D9;
}
.search_box .searchBtn.active{
    width: 50px;
    height: 50px;
    background: #CCD3D9;
    line-height: 50px;
    font-size: 20px;
    right: 5px;
    transform: translateY(-50%) rotate(360deg);
}
.search_box .searchBtn.active i{
    color: white;
}

.search_box .cancelBtn{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: black;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search_box .cancelBtn i{
    color: #CCD3D9;
}
.search_box .cancelBtn.active{
    right: -40px;
    transform: translateY(-50%) rotate(360deg);
}

.main_container{
    position: relative;
    max-width: 1174px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.content_wrapper{
    width: 100%;
    min-height: calc(100vh - 220px);
}
.contents{
    float: left;
}
.shop_mall{
    overflow: hidden;
    float: left;
    margin: 0 -3px;
}
.item_box{
    width: 230px;
    margin: 0 3px 6px;
    overflow: hidden;
    float: left;
}
.item_box a{
    display: block;
}
.shop_card{
    overflow: hidden;
    float: left;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 8%);
    cursor: pointer;
}
.infor{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    width: 100%;
    top: 45px;
    text-align: center;
}
.image img{
    max-width: 210px;
    height: 90px;
    object-fit: contain;
    border-color:black;
    margin: 0 auto;
}
.img, .infor p{
    overflow: hidden;
}
.infor p{
    padding: 1px 0;
    font-family: 'BMJUA';
    font-style: normal;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shop_name{
    padding: 19px 0 15px;
    color: black;
    font-size: 15px;
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Search_fixed {
    position: fixed;
    width: 50%;
    top: 120px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

@media screen and (max-width: 1600px) {
    .wrapping{
        width:1174px;
        height:100%;
    }
    .main_container{
        max-width: 1174px;
    }
}

@media screen and (max-width: 1450px) {
    .wrapping{
        width:938px;
        height:100%;
    }
    .main_container{
        max-width: 938px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapping{
        width:702px;
        height:100%;
    }
    .main_container{
        max-width: 702px;
    }
}

@media screen and (max-width: 768px) {
    .wrapping{
        width: 100%;
    }
    .main_container{
        width: 100%;
    }
    .content_wrapper{
        width: 100%;
    }
    .contents{
        width: 100%;
        padding:0 6px;
    }
    .shop_mall{
        width: 100%;
    }
    .item_box{
        width: calc(33.33333% - 6px);
    }
    .category_box{
        display: none;
    }
    .mobile_category_box{
        display: block;
    }
}



